In [1]:
# Learning functions increases your Python skills exponentially
# This also means that the difficulties of problems you can solve also increases drastically
# Let's get some practice with converting problem statements into Python code.

In [2]:
# Warmup section

In [3]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both 
# numbers are even, but returns the greater if one or both numbers are odd
# lesser_of_two_evens(2,4) --> 2
# lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(num1, num2):
    if num1%2 == 0 and num2%2 == 0:
        return min(num1, num2)
    else:
        return max(num1, num2)

In [5]:
lesser_of_two_evens(2,4)

2

In [6]:
lesser_of_two_evens(2,5)

5

In [30]:
# ANIMAL CRACKERS: Write a function that takes a two-word string and returns True if 
# both words begin with same letter
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

def animal_crackers(string):
    words = string.split()
    return words[0][0] == words[1][0]

In [31]:
animal_crackers('Levelheaded Llama')

True

In [32]:
animal_crackers('Crazy Kangaroo')

False

In [33]:
# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or 
# if one of the integers is 20. If not, return False
# makes_twenty(20,10) --> True
# makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

def makes_twenty(num1, num2):
    return (num1+num2) == 20 or num1 == 20 or num2 == 20

In [34]:
makes_twenty(20,10)

True

In [35]:
makes_twenty(12,8)

True

In [36]:
makes_twenty(2,3)

False

In [17]:
# Level 1 Problems

In [37]:
# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
# old_macdonald('macdonald') --> MacDonald

# Note: 'macdonald'.capitalize() returns 'Macdonald'

# using .upper() method
def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [38]:
old_macdonald('macdonald')

'MacDonald'

In [39]:
old_macdonald('divyadham')

'DivYadham'

In [43]:
# using .capitalize() method
def old_macdonald(name):
    return name[:3].capitalize()+name[3:].capitalize()

In [44]:
old_macdonald('macdonald')

'MacDonald'

In [45]:
old_macdonald('divyadham')

'DivYadham'

In [54]:
# MASTER YODA: Given a sentence, return a sentence with the words reversed
# master_yoda('I am home') --> 'home am I'
# master_yoda('We are ready') --> 'ready are We'

# Note: The .join() method may be useful here. The .join() method allows you to join 
# together strings in a list with some connector string. For example, some uses of the 
# .join() method:

# >>> "--".join(['a','b','c'])
# >>> 'a--b--c'

# This means if you had a list of words you wanted to turn back into a sentence, you 
# could just join them with a single space string:

# >>> " ".join(['Hello','world'])
# >>> "Hello world"

def master_yoda(sentence):
    wordlist = sentence.split()
    wordlist.reverse()
#     reversed_word_list = words[::-1]
    return " ".join(wordlist)

In [55]:
master_yoda('I am home')

'home am I'

In [56]:
master_yoda('We are ready')

'ready are We'

In [57]:
# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
# almost_there(90) --> True
# almost_there(104) --> True
# almost_there(150) --> False
# almost_there(209) --> True

# NOTE: abs(num) returns the absolute value of a number

def almost_there(num):
    return abs(100-num) <= 10 or abs(200-num) <= 10

In [58]:
almost_there(104)

True

In [59]:
almost_there(150)

False

In [60]:
almost_there(209)

True

In [1]:
# LEVEL 2 PROBLEMS

In [2]:
# FIND 33:
# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

# has_33([1, 3, 3]) → True
# has_33([1, 3, 1, 3]) → False
# has_33([3, 1, 3]) → False

def has_33(lst):
    for index,val in enumerate(lst):
        if val == 3:
            if lst[index-1] == 3:
                return True
    return False

In [3]:
has_33([1, 3, 3])

True

In [4]:
has_33([1, 3, 1, 3])

False

In [5]:
has_33([3, 1, 3])

True

In [6]:
# PAPER DOLL: Given a string, return a string where for every character 
# in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

def paper_doll(string):
    result = ''
    for char in string:
        result += char*3 # result += char+char+char
    return result

In [7]:
paper_doll('Hello')

'HHHeeellllllooo'

In [8]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [10]:
# BLACKJACK: Given three integers between 1 and 11, if their sum is 
# less than or equal to 21, return their sum. If their sum exceeds 21 
# and there's an eleven, reduce the total sum by 10. Finally, if the sum 
# (even after adjustment) exceeds 21, return 'BUST'
# blackjack(5,6,7) --> 18
# blackjack(9,9,9) --> 'BUST'
# blackjack(9,9,11) --> 19

def blackjack(n1, n2, n3):
    s = sum([n1,n2,n3])
    if s <= 21:
        return s
    if 11 in [n1, n2, n3]:
        s = s-10
    if s > 21:
        return 'BUST'
    else:
        return s

In [11]:
blackjack(5,6,7)

18

In [12]:
blackjack(9,9,9)

'BUST'

In [13]:
blackjack(9,9,11)

19

In [14]:
# SUMMER OF '69: Return the sum of the numbers in the array, except ignore 
# sections of numbers starting with a 6 and extending to the next 9 
# (every 6 will be followed by at least one 9). Return 0 for no numbers.
# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

def summer_69(lst):
    s = 0
    found6 = False
    for num in lst:
        if not found6 and num == 6:
            found6 = True
            continue
        if found6 and num == 9:
            found6 = False
            continue
        if not found6:
            s += num
    return s

In [15]:
summer_69([1, 3, 5])

9

In [16]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [17]:
summer_69([2, 1, 6, 9, 11])

14

In [1]:
# CHALLENGING PROBLEMS

In [7]:
# SPY GAME: Write a function that takes in a list of integers and returns True if 
# it contains 007 in order
# spy_game([1,2,4,0,0,7,5]) --> True
# spy_game([1,0,2,4,0,5,7]) --> True
# spy_game([1,7,2,0,4,5,0]) --> False

def spy_game(nums):
    found01 = False
    found02 = False
    found7 = False
    for num in nums:
        if not found01 and num == 0:
            found01 = True
            continue
        elif not found01:
            continue
        if not found02 and num == 0:
            found02 = True
            continue
        elif not found02:
            continue
        if not found7 and num == 7:
            found7 = True
            break
    if found01 and found02 and found7:
        return True
    return False

In [8]:
spy_game([1,2,4,0,0,7,5])

True

In [9]:
spy_game([1,0,2,4,0,5,7])

True

In [10]:
spy_game([1,7,2,0,4,5,0])

False

In [27]:
# COUNT PRIMES: Write a function that returns the number of prime numbers 
# that exist up to and including a given number
# count_primes(100) --> 25

# By convention, 0 and 1 are not prime.

import math
def count_primes(val):
    count = val-2
    for num in range(2, val+1):
        for n in range(2, int(math.sqrt(num))):
            if num%n == 0:
                count -= 1
#                 print(num)
                break
    return count

In [28]:
count_primes(100)

32

True