In [70]:
# Lists are ordered sequences that can hold a variety of object types
# Lists support indexing, reverse indexing and slicing
# They have variety of useful methods

In [71]:
my_list = [1, 2, 3]

In [72]:
my_list = ['STRING', 100, 32.2] # can hold multiple data types

In [73]:
len(my_list) # to check number of elements in a list

3

In [74]:
# Indexing
mylist = ['one', 'two', 'three']

In [75]:
mylist[0]

'one'

In [76]:
# reverse indexing
mylist[-1]

'three'

In [77]:
# Slicing
mylist[1:]

['two', 'three']

In [78]:
mylist[::2]

['one', 'three']

In [79]:
mylist[::-1] # like strings, lists can also be reversed with this trick

['three', 'two', 'one']

In [80]:
mylist

['one', 'two', 'three']

In [81]:
# list concatination
another_list = ['four', 'five']

In [82]:
mylist + another_list # concatenated list returned

['one', 'two', 'three', 'four', 'five']

In [83]:
mylist # original lists not affected

['one', 'two', 'three']

In [84]:
another_list

['four', 'five']

In [85]:
new_list = mylist + another_list

In [86]:
new_list

['one', 'two', 'three', 'four', 'five']

In [87]:
# list mutation
new_list[0] = 'ONE ALL CAPS'

In [88]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [89]:
# adding at the end
new_list.append('six') # inplace

In [90]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [91]:
new_list.append('seven')

In [92]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [93]:
# removing elements
new_list.pop() # remove last element inplace

'seven'

In [94]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [95]:
popped_item = new_list.pop()

In [96]:
popped_item

'six'

In [97]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [98]:
# removing from a specific index
new_list.pop(0) # pass the index inside the pop function

'ONE ALL CAPS'

In [99]:
new_list

['two', 'three', 'four', 'five']

In [100]:
# removing a specified item
new_list.remove('four') # removes the first item with a specified value

In [102]:
new_list

['two', 'three', 'five']

In [31]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [32]:
# sorting a list
new_list.sort() # inplace (does not return anything)

In [33]:
new_list

['a', 'b', 'c', 'e', 'x']

In [34]:
my_sorted_list = new_list.sort()

In [35]:
my_sorted_list

In [36]:
type(my_sorted_list)

NoneType

In [37]:
num_list

[4, 1, 8, 3]

In [38]:
num_list.sort()

In [39]:
sorted_list = num_list

In [40]:
sorted_list

[1, 3, 4, 8]

In [41]:
# reversing a list
num_list

[1, 3, 4, 8]

In [42]:
num_list.reverse() # inplace , does not return anything

In [43]:
num_list

[8, 4, 3, 1]

In [44]:
num_list.insert(3, 2) # insert element 2 at index 3 and shift remaining list to right

In [45]:
num_list

[8, 4, 3, 2, 1]

In [46]:
num_list.index(2) # returns the index of the first element with a specified value

3

In [48]:
num_list.count(4) # return the count of the specified element

1

In [49]:
lst2 = num_list

In [50]:
lst2

[8, 4, 3, 2, 1]

In [51]:
lst2.append(0)

In [52]:
num_list # any modification you make to lst2, will also affect the original list since they are referencing to the same object

[8, 4, 3, 2, 1, 0]

In [53]:
# way out to above problem
lst2 = num_list.copy() # returns a copy of the list

In [54]:
lst2

[8, 4, 3, 2, 1, 0]

In [55]:
lst2.insert(0, 10)

In [56]:
lst2

[10, 8, 4, 3, 2, 1, 0]

In [57]:
num_list # original list not affected as we assigned its copy

[8, 4, 3, 2, 1, 0]

In [103]:
# extending current list
curr_lst = [1, 2, 3]
new_lst = [4, 5, 6] 
tup = (7, 8, 9)

In [104]:
curr_lst.extend(new_lst) # inplace, can pass any iterable object

In [105]:
curr_lst

[1, 2, 3, 4, 5, 6]

In [106]:
curr_lst.extend(tup) # tuple is iterable

In [107]:
curr_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
# removing all elements from the list
curr_lst.clear()

In [109]:
curr_lst

[]

In [44]:
# append(item), pop(), pop(idx), remove(item), sort(), reverse(), 
# insert(idx, item), index(item), count(item), copy(), 
# extend(any_iterable_object), clear()