In [1]:
# tuples are very similar to lists, but are immutable
# they use ()

In [2]:
t = (1,2,3)

In [3]:
mylist = [1,2,3]

In [4]:
type(t)

tuple

In [5]:
type(mylist)

list

In [6]:
len(t) # to find the length of a tuple

3

In [7]:
t

(1, 2, 3)

In [8]:
t = ('one', 2) # can hold multiple data types

In [9]:
# Indexing
t[0]

'one'

In [10]:
# reverse indexing
t[-1]

2

In [16]:
# append items to a tuple
t + (3,) # need to have , in the end if you want to concatenate only one item

('one', 2, 3)

In [17]:
t # since tuples are immutable original object remains unchanged

('one', 2)

In [18]:
t = ('a','b','c')

In [19]:
t.count('a') # how many times an item occurs in the tuple

1

In [22]:
t.index('a') # returns the index of first occurence of the item

0

In [23]:
t.index('d') # does not return -1, throws an error instead

ValueError: tuple.index(x): x not in tuple

In [ ]:
# tuples only support count() and index() methods

In [24]:
# Immutability
t

('a', 'b', 'c')

In [25]:
mylist

[1, 2, 3]

In [26]:
mylist[0] = 'NEW'

In [19]:
mylist

['NEW', 2, 3]

In [21]:
t[0] = 'NEW' # this is what makes tuples different from lists -> Immutability

TypeError: 'tuple' object does not support item assignment

In [22]:
# You will be using tuples when you are passing around the objects in your program and want to
# make sure that your objects don't accidently get changed
# Tuples provide data integration

In [23]:
t = (1, 2, [3, 4])

In [24]:
t[2]

[3, 4]

In [25]:
t[2].append(5) # if a tuple contains a DS that is muttable, then we can mutate the data inside that DS but cannot reference it to a different DSt

In [26]:
t

(1, 2, [3, 4, 5])

In [27]:
t[2][0] = -1

In [28]:
t

(1, 2, [-1, 4, 5])

In [29]:
t[2] = [10, 20, 30] # cannot reference it to a different object

TypeError: 'tuple' object does not support item assignment

In [27]:
# if you want to add, modify or delete an element from a tuple
# you can do it by first changing a tuple to a list and then
# back to a tuple
t = (1, 2, 3)

In [28]:
lst = list(t)

In [29]:
lst

[1, 2, 3]

In [30]:
# adding
lst.append(4)

In [31]:
t = tuple(lst)

In [32]:
t

(1, 2, 3, 4)

In [33]:
# modifying
lst = list (t)

In [34]:
lst

[1, 2, 3, 4]

In [35]:
lst[2] = 'Three'

In [36]:
t = tuple(lst)

In [37]:
t

(1, 2, 'Three', 4)

In [38]:
# deleting
lst = list(t)

In [39]:
lst

[1, 2, 'Three', 4]

In [40]:
lst.pop(3)

4

In [41]:
t = tuple(lst)

In [42]:
t

(1, 2, 'Three')